loki.write "default" {
	endpoint {
		url = "http://loki.apps.internal:8080/loki/api/v1/push"
	}
	external_labels = {}
}

loki.source.syslog "test" {
    listener {
        address = "0.0.0.0:2601"
        protocol = "tcp"
        idle_timeout = "0s"
        use_rfc5424_message = true
        labels       = { job = "syslog", component = "loki.source.syslog", protocol = "tcp" }
        max_message_length = 0
    }
    listener {
        address      = "0.0.0.0:2514"
        protocol     = "udp"
        idle_timeout = "0s"
        use_rfc5424_message = true
        labels       = { job = "syslog", component = "loki.source.syslog", protocol = "udp" }
        max_message_length = 0
    }

	forward_to    = [loki.write.default.receiver]
}
